{% extends 'base.html.twig' %}

{% block title %}Episode #{{ episode.number }}{% endblock %}

{% block body %}
    <div class="my-5 mx-auto" style="width: 60%">
        <div class="card p-3">
            <div class="media">
                <div class="media-body">
                    <h1 class="mt-0"> {{ program.title }}</h1>
                    <h2 class="mt-0">Saison {{ season.number }} - Episode {{ episode.number }}</h2>
                    <h6>{{ episode.title }}</h6>
                    <p>{{ episode.synopsis}}</p>
                </div>
            </div>
        </div>
        <div class="card my-5 p-3">
            <div class="media">
                <div class="media-body">
                    <h5>Commentaires :</h5>
                    {% for comment in comments %}
                        <h6>{{ comment.author.email }} - note : {{ comment.rate }} /5</h6>
                        <p>{{ comment.comment}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if is_granted('ROLE_USER') %}
            <div class="text-center card mx-auto my-5">
                <h1 class="m-3">Ajouter une Série</h1>
                {{ form_start(commentForm) }}
                <div class="form-group m-auto" style="width:90%;">
                    {{ form_widget(commentForm) }}
                </div>
                <button class="btn btn-dark m-3" type="submit">Ajouter</button>
                {{ form_end(commentForm) }}
            </div>
        {% endif %}
        <a href="{{ path('program_season_show', {slug: program.slug, season: season.id}) }}">
            Retour à la saison
        </a>
    </div>
{% endblock %}