{% extends 'base.html.twig' %}

{% block title %}Saison # {{ season.number }}{% endblock %}

{% block body %}
    <div class="my-5 mx-auto" style="width: 60%">
        <div class="card p-3">
            <div class="media-body">
                <h1 class="mt-0">Saison {{ season.number }} de {{ program.title }}</h1>
                <h6>{{ season.year }}</h6>
                <p>{{ season.description }}</p>
                <ul>
                    {% for episode in episodes %}
                        <a href="{{ path('program_episode_show', {program: program.id, season: season.id, episode: episode.id}) }}">
                            <li>Episode {{ episode.number }} : {{ episode.title }}</li>
                        </a>
                    {% endfor %}
                </ul>


            </div>

        </div>

        <a href="{{ path('program_show', {program: program.id}) }}">
            Retour à la fiche série
        </a>
    </div>
{% endblock %}
